---
- name: Install Xray
  ansible.builtin.shell: bash -c "$(curl -L https://github.com/XTLS/Xray-install/raw/main/install-release.sh)" @ install
  args:
    executable: /bin/bash
  changed_when: true

- name: Save Xray config
  ansible.builtin.template:
    src: portal_config.json.j2
    dest: /usr/local/etc/xray/config.json
    mode: '0644'

- name: Restart Xray service asynchronously
  ansible.builtin.systemd:
    name: xray
    state: restarted
  async: 30
  poll: 0

- name: Wait for SSH to become available again
  ansible.builtin.wait_for_connection:
    timeout: 60
    delay: 10

- name: Ensure UFW package is installed
  ansible.builtin.package:
    name: ufw
    state: present

- name: Allow ports 22, 80, 443 via TCP
  community.general.ufw:
    rule: allow
    port: "{{ item }}"
    proto: tcp
  loop:
    - '22'
    - '80'
    - '443'

- name: Allow port 443 via UDP
  community.general.ufw:
    rule: allow
    port: "443"
    proto: udp

- name: Ensure UFW is enabled
  community.general.ufw:
    state: enabled

- name: Render xray client config locally (JSON)
  ansible.builtin.template:
    src: client_config.j2
    dest: "~/vpn/{{ inventory_hostname }}_config.json"
    mode: '0600'
  delegate_to: localhost

- name: Render xray client config locally (URI)
  ansible.builtin.template:
    src: client_uri.j2
    dest: "~/vpn/{{ inventory_hostname }}_uri.txt"
    mode: '0600'
  delegate_to: localhost
