---
- name: Install Xray
  ansible.builtin.shell: bash -c "$(curl -L https://github.com/XTLS/Xray-install/raw/main/install-release.sh)" @ install
  args:
    executable: /bin/bash
  changed_when: true

- name: Save Xray config
  ansible.builtin.template:
    src: bridge_config.json.j2
    dest: /usr/local/etc/xray/config.json
    mode: '0644'

- name: Restart Xray service asynchronously
  ansible.builtin.systemd:
    name: xray
    state: restarted
  async: 30
  poll: 0

- name: Wait for SSH to become available again
  ansible.builtin.wait_for_connection:
    timeout: 60
    delay: 10

- name: Ensure UFW package is installed
  ansible.builtin.package:
    name: ufw
    state: present

- name: Allow port 22 via TCP
  community.general.ufw:
    rule: allow
    port: "{{ item }}"
    proto: tcp
  loop:
    - '22'

- name: Ensure UFW is enabled
  community.general.ufw:
    state: enabled
