---
- name: Fail if required variables are not defined
  ansible.builtin.fail:
    msg: "The required variable {{ item }} is not defined."
  loop:
    - { name: 'uuid', value: '{{ uuid }}' }
    - { name: 'private_key', value: '{{ private_key }}' }
    - { name: 'public_key', value: '{{ public_key }}' }
    - { name: 'short_id', value: '{{ short_id }}' }
  when: item.value is not defined or item.value == ""

- name: Install Xray
  ansible.builtin.shell: bash -c "$(curl -L https://github.com/XTLS/Xray-install/raw/main/install-release.sh)" @ install
  args:
    executable: /bin/bash
  changed_when: true

- name: Save Xray config
  ansible.builtin.template:
    src: server_config.json.j2
    dest: /usr/local/etc/xray/config.json
    mode: '0644'

- name: Restart Xray service asynchronously
  ansible.builtin.systemd:
    name: xray
    state: restarted
  async: 30
  poll: 0

- name: Wait for SSH to become available again
  ansible.builtin.wait_for_connection:
    timeout: 60
    delay: 10

- name: Allow ports 22, 80, 443, 8443 via TCP
  community.general.ufw:
    rule: allow
    port: "{{ item }}"
    proto: tcp
  loop:
    - '22'
    - '80'
    - '443'
    - '8443'

- name: Allow port 443 via UDP
  community.general.ufw:
    rule: allow
    port: "443"
    proto: udp

- name: Ensure UFW is enabled
  community.general.ufw:
    state: enabled

- name: Create sing-box client config
  ansible.builtin.template:
    src: sing_box_client.conf.j2
    dest: "~/vpn/{{ inventory_hostname }}_sing_box_client.json"
    mode: '0600'
  delegate_to: localhost

- name: Create xray reality xtls rprx vision client config
  ansible.builtin.template:
    src: xray_reality_xtls_rprx_vision_client_config.j2
    dest: "~/vpn/{{ inventory_hostname }}_xray_reality_xtls_rprx_vision_client_config.json"
    mode: '0600'
  delegate_to: localhost

- name: Create xray xhttp client config
  ansible.builtin.template:
    src: xray_xhttp_client_config.j2
    dest: "~/vpn/{{ inventory_hostname }}_xray_xhttp_client_config.json"
    mode: '0600'
  delegate_to: localhost

- name: Create vless reality URI
  ansible.builtin.template:
    src: vless_reality_uri.j2
    dest: "~/vpn/{{ inventory_hostname }}_vless_reality_uri.txt"
    mode: '0600'
  delegate_to: localhost

- name: Create vless xhttp URI
  ansible.builtin.template:
    src: vless_xhttp_uri.j2
    dest: "~/vpn/{{ inventory_hostname }}_vless_xhttp_uri.txt"
    mode: '0600'
  delegate_to: localhost
