{
	admin localhost:2019

	# Enable Prometheus/OpenMetrics instrumentation
	servers {
		metrics
	}
}

{{ domain }} {

    # Caddy automatically handles Let's Encrypt certificates (TLS)

    # 1. Proxy Logic: Check for the secret XHTTP path
    @vless_proxy {
        path /{{ secret_path }}/*
    }

    # If it's the secret path, reverse proxy to the local Xray instance
    reverse_proxy @vless_proxy h2c://127.0.0.1:{{ xray_xhttp_port_internal }} {
        flush_interval -1

        header_up Host {http.request.host}
        header_up X-Forwarded-Proto https

        transport http {
            dial_timeout 10s
            read_timeout 10m
            write_timeout 10m
       }
    }

    {% if publish_users_yaml_b64 is defined and inventory_hostname in groups['xray_publish'] %}
    {% set publish_users_list = publish_users_yaml_b64 | b64decode | from_json %}
    # 2. Subscription config routes
    {% for user in publish_users_list %}
    handle /subscriptions/{{ user.token }}* {
        uri strip_prefix /subscriptions
        try_files {path}/configs.json {path}
        root * /var/www/xray-configs
        file_server
        header profile-title "base64:{{ user.name | b64encode }}"
        header profile-update-interval "1"
        header x-robots-tag "noindex, nofollow"
    }

    {% endfor %}
    {% endif %}
    # 3. Fallback Website: All other traffic (for camouflage)
    # Serves content from the fallback directory
    root * /var/www/html/{{ domain }}
    file_server

    # Optional: If you prefer to redirect probes to a real site instead of serving files
    # handle {
    #     redir https://www.bing.com permanent
    # }
}
