---
- name: Check mandatory variables are defined
  ansible.builtin.assert:
    that:
      - GCLOUD_RW_API_KEY is defined
      - GCLOUD_FM_URL is defined
      - GCLOUD_FM_POLL_FREQUENCY is defined
      - GCLOUD_FM_HOSTED_ID is defined

- name: Import Grafana GPG key
  ansible.builtin.apt_key:
    url: https://apt.grafana.com/gpg.key

- name: Add Grafana repository
  ansible.builtin.apt_repository:
    repo: deb https://apt.grafana.com stable main
    state: present

- name: Install Grafana Alloy
  ansible.builtin.apt:
    name: alloy
    update_cache: true

# The template file is created as follows:
# curl -sSL https://storage.googleapis.com/cloud-onboarding/alloy/config/config-fm.alloy | sed 's/\({[A-Z_]\+}\)/{\1}/g' > ansible/roles/grafana_alloy/templates/config.alloy
- name: Create Alloy config
  ansible.builtin.template:
    src: config.alloy
    dest: /etc/alloy/config.alloy
    owner: alloy
    group: alloy
    mode: "0640"
  vars:
    GCLOUD_FM_COLLECTOR_ID: "{{ inventory_hostname }}"
  notify: Restart Grafana Alloy

- name: Ensure drop-in directory exists
  ansible.builtin.file:
    path: /etc/systemd/system/alloy.service.d
    state: directory
    mode: "0755"

- name: Write env.conf for alloy service
  ansible.builtin.copy:
    dest: /etc/systemd/system/alloy.service.d/env.conf
    mode: "0644"
    content: |
      [Service]
      Environment="GCLOUD_RW_API_KEY={{ GCLOUD_RW_API_KEY }}"
  notify:
    - Daemon reload
    - Restart Grafana Alloy
