{
  "remarks": "{{ remark }}",
  "log": {
    "loglevel": "debug"
  },
  "dns": {
    "servers": [
      "https://1.1.1.1/dns-query"
    ]
  },
  "inbounds": [
    {
      "port": 10808,
      "listen": "127.0.0.1",
      "protocol": "socks",
      "settings": {
        "auth": "noauth",
        "udp": true
      },
      "sniffing": {
        "destOverride": [
          "http",
          "tls",
          "quic"
        ],
        "enabled": true,
        "routeOnly": false
      },
      "tag": "socks_proxy"
    },
    {
      "port": 10807,
      "listen": "127.0.0.1",
      "protocol": "socks",
      "settings": {
        "auth": "noauth",
        "udp": true
      },
      "tag": "socks_direct"
    }
  ],
  "outbounds": [
    {
      "protocol": "vless",
      "settings": {
        "vnext": [
          {
            "address": "{{ xray_server_address }}",
            "port": 443,
            "users": [
              {
                "id": "{{ user_id }}",
                "email": "{{ user_name }}@{{ inventory_hostname }}",
                "encryption": "none"
              }
            ]
          }
        ]
      },
      "streamSettings": {
        "network": "xhttp",
        "xhttpSettings": {{ {
          "path": secret_path,
          "mode": "packet-up"
        } | combine(xray_xhttp_extra_settings | default({})) | to_json }},
        "security": "tls",
        "tlsSettings": {
          {% if xray_tls_server_name is defined %}
          "serverName": "{{ xray_tls_server_name }}",
          {% endif %}
          "alpn": [
            "h2"
          ]
        }
      },
      "tag": "proxy"
    },
    {
      "protocol": "freedom",
      "tag": "direct"
    }
  ],
  "routing": {
    "domainStrategy": "IPIfNonMatch",
    "rules": [
      {
        "type": "field",
        "protocol": [
          "bittorrent"
        ],
        "outboundTag": "direct"
      },
      {
        "type": "field",
        "inboundTag": "socks_direct",
        "outboundTag": "direct"
      }
    ]
  }
}
