{
  "log": {
    "loglevel": "info"
  },
  "dns": {
    "servers": [
      {
        "address": "https://1.1.1.1/dns-query",
        "skipFallback": false
      }
    ]
  },

  {% if reverse_xray_role is defined and reverse_xray_role == 'portal' %}
  "reverse": {
    "portals": [
      {
        "tag": "portal",
        "domain": "reverse-proxy.xray.internal"
      }
    ]
  },
  {% elif reverse_xray_role is defined and reverse_xray_role == 'bridge' %}
  "reverse": {
    "bridges": [
      {
        "tag": "bridge",
        "domain": "reverse-proxy.xray.internal"
      }
    ]
  },
  {% endif %}

  "routing": {
    "domainStrategy": "IPIfNonMatch",
    "rules": [
      {
        "type": "field",
        "ip": [
          "1.1.1.1"
        ],
        "outboundTag": "direct"
      }
      {% for rule in local_exit_rules | default([]) %}
      ,{{ rule | to_json }}
      {% endfor %}
      {% if reverse_xray_role is defined and reverse_xray_role == 'portal' %}
      ,
      {
        "type": "field",
        "inboundTag": [
          "incoming_xhttp",
          "incoming_grpc"
        ],
        "outboundTag": "portal"
      }
      {% elif reverse_xray_role is defined and reverse_xray_role == 'bridge' %}
      ,
      {
        "type": "field",
        "inboundTag": [
          "bridge"
        ],
        "domain": [
          "full:reverse-proxy.xray.internal"
        ],
        "outboundTag": "next_proxy"
      },
      {
        "type": "field",
        "inboundTag": [
          "bridge"
        ],
        "outboundTag": "direct"
      }
      {% endif %}
    ]
  },

  "inbounds": [
    {
      "port": {{ xray_xhttp_port_internal }},
      "listen": "127.0.0.1",
      "protocol": "vless",
      "settings": {
        "clients": [
{% for user in xray_users %}
          {
            "id": "{{ user.id }}",
            "email": "{{ user.name }}@{{ inventory_hostname }}"
          }{% if not loop.last %},{% endif %}
{% endfor %}
        ],
        "decryption": "none"
      },
      "streamSettings": {
        "network": "xhttp",
        "security": "none",
        "xhttpSettings": {{ {
          "mode": "packet-up",
          "path": secret_path
        } | combine(xray_xhttp_extra_settings | default({})) | to_json }}
      },
      "sniffing": {
        "destOverride": [
          "http",
          "tls",
          "quic"
        ],
        "enabled": true,
        "routeOnly": true
      },
      "tag": "incoming_xhttp"
    },
    {
      "port": {{ xray_grpc_port_internal }},
      "listen": "127.0.0.1",
      "protocol": "vless",
      "settings": {
        "clients": [
{% for user in xray_users %}
          {
            "id": "{{ user.id }}",
            "email": "{{ user.name }}@{{ inventory_hostname }}"
          }{% if not loop.last %},{% endif %}
{% endfor %}
        ],
        "decryption": "none"
      },
      "streamSettings": {
        "network": "grpc",
        "security": "none",
        "grpcSettings": {
          "serviceName": "{{ grpc_service_name }}"
        }
      },
      "sniffing": {
        "destOverride": [
          "http",
          "tls",
          "quic"
        ],
        "enabled": true,
        "routeOnly": true
      },
      "tag": "incoming_grpc"
    }
  ],

  "outbounds": [
    {% if next_address is defined and next_address %}
    {
      "protocol": "vless",
      "settings": {
        "vnext": [
          {
            "address": "{{ next_address }}",
            "port": 443,
            "users": [
              {
                "id": "{{ xray_client_user.id }}",
                "encryption": "none"
              }
            ]
          }
        ]
      },
      "streamSettings": {
        {% if next_address_transport | mandatory == 'grpc' %}
        "network": "grpc",
        "grpcSettings": {
          "serviceName": "{{ grpc_service_name }}"
        },
        {% else %}
        "network": "xhttp",
        "xhttpSettings": {{ {
          "path": secret_path,
          "mode": "packet-up"
        } | combine(next_address_xray_xhttp_extra_settings) | to_json }},
        {% endif %}
        "security": "tls",
        "tlsSettings": {
          "fingerprint": "safari",
          "alpn": [
            "h2"
          ]
        }
      },
      "tag": "next_proxy"
    },
    {% endif %}
    {% if warp_outbound_enabled | default(false) %}
    {
      "protocol": "wireguard",
      "settings": {
        "secretKey": "{{ warp_secret_key }}",
        "domainStrategy": "ForceIPv4v6",
        "address": [
          "{{ warp_ipv4 }}",
          "{{ warp_ipv6 }}"
        ],
        "peers": [
          {
            "publicKey": "{{ warp_public_key }}",
            "allowedIPs": [
              "0.0.0.0/0",
              "::/0"
            ],
            "endpoint": "{{ warp_endpoint }}:2408"
          }
        ],
        "reserved": {{ warp_reserved | to_json }},
        "mtu": 1280,
        "noKernelTun": true
      },
      "tag": "warp"
    },
    {% endif %}
    {
      "protocol": "freedom",
      "tag": "direct"
    },
    {
      "protocol": "blackhole",
      "tag": "block"
    }
  ]
}