{
  "log": {
    "loglevel": "info"
  },

  {% if xray_role == 'portal' %}
  "reverse": {
    "portals": [
      {
        "tag": "portal",
        "domain": "reverse-proxy.xray.internal"
      }
    ]
  },
  "routing": {
    "rules": [
      {
        "type": "field",
        "inboundTag": [
          "incoming_xhttp"
        ],
        "outboundTag": "portal"
      }
    ]
  },
  {% endif %}

  {% if xray_role == 'bridge' %}
  "reverse": {
    "bridges": [
      {
        "tag": "bridge",
        "domain": "reverse-proxy.xray.internal"
      }
    ]
  },
  "routing": {
    "rules": [
      {
        "type": "field",
        "inboundTag": [
          "bridge"
        ],
        "domain": [
          "full:reverse-proxy.xray.internal"
        ],
        "outboundTag": "next_proxy"
      },
      {
        "type": "field",
        "inboundTag": [
          "bridge"
        ],
        "outboundTag": "direct"
      }
    ]
  },
  {% endif %}

  "inbounds": [
    {
      "port": {{ xray_xhttp_port_internal }},
      "listen": "127.0.0.1",
      "protocol": "vless",
      "settings": {
        "clients": [
{% for user in xray_users %}
          {
            "id": "{{ user.id }}",
            "email": "{{ user.name }}@{{ inventory_hostname }}"
          }{% if not loop.last %},{% endif %}
{% endfor %}
       ],
       "decryption": "none"
      },
      "streamSettings": {
        "network": "xhttp",
        "security": "none",
        "xhttpSettings": {
          "mode": "auto",
          "path": "{{ secret_path }}"
        }
      },
      "tag": "incoming_xhttp"
    }
  ],
  "outbounds": [
    {% if next_address is defined and next_address %}
    {
      "protocol": "vless",
      "settings": {
        "vnext": [
          {
            "address": "{{ next_address }}",
            "port": 443,
            "users": [
              {
                "id": "{{ xray_client_user.id }}",
                "encryption": "none"
              }
            ]
          }
        ]
      },
      "streamSettings": {
        "network": "xhttp",
        "xhttpSettings": {
          "path": "{{ secret_path }}",
          "mode": "packet-up"
        },
        "security": "tls",
        "tlsSettings": {
          "alpn": [
            "h2"
          ]
        }
      },
      "tag": "next_proxy"
    },
    {% endif %}
    {% if warp_outbound_enabled is defined and warp_outbound_enabled %}
    {
      "protocol": "wireguard",
      "settings": {
        "secretKey": "{{ warp_secret_key }}",
        "peers": [
          {
            "publicKey": "{{ warp_public_key }}",
            "endpoint": "engage.cloudflareclient.com:2408"
          }
        ],
        "reserved": [
          0,
          0,
          0
        ]
      },
      "tag": "warp"
    },
    {% endif %}
    {
      "protocol": "freedom",
      "tag": "direct"
    },
    {
      "protocol": "blackhole",
      "tag": "block"
    }
  ]
}
