{
  "log": {
    "level": "info",
    "timestamp": true
  },
  "dns": {
    "servers": [
      {
        "type": "https",
        "tag": "dns_proxy",
        "server": "cloudflare-dns.com",
        "domain_resolver": "dns_direct"
      },
      {
        "type": "tcp",
        "tag": "dns_direct",
        "server": "1.1.1.1"
      }
    ],
    "final": "dns_proxy",
    "independent_cache": false
  },
  "inbounds": [
    {
      "type": "tun",
      "tag": "tun-in",
      "interface_name": "singtun0",
      "address": [
        "198.18.0.1/16",
        "fd9a:9a00:048c:1::/64"
      ],
      "auto_route": true,
      "strict_route": true,
      "stack": "gvisor",
      "sniff": true,
      "sniff_override_destination": false
    }
  ],
  "outbounds": [
    {
      "flow": "xtls-rprx-vision",
      "packet_encoding": "xudp",
      "server": "{{ server_public_ip }}",
      "server_port": 443,
      "tag": "proxy",
      "tls": {
        "alpn": [
          "h2"
        ],
        "enabled": true,
        "reality": {
          "enabled": true,
          "public_key": "{{ public_key }}",
          "short_id": "{{ short_id }}"
        },
        "server_name": "www.microsoft.com",
        "utls": {
          "enabled": true,
          "fingerprint": "chrome"
        }
      },
      "type": "vless",
      "uuid": "{{ uuid }}"
    },
    {
      "type": "direct",
      "tag": "direct"
    }
  ],
  "route": {
    "rules": [
      {
        "action": "sniff"
      },
      {
        "protocol": "dns",
        "action": "hijack-dns"
      },
      {
        "domain_suffix": [
          ".ru"
        ],
        "outbound": "direct"
      },
      {
        "ip_is_private": true,
        "outbound": "direct"
      }
    ],
    "default_domain_resolver": "dns_proxy",
    "final": "proxy",
    "auto_detect_interface": true
  }
}
