{
  "log": {
    "loglevel": "debug"
  },
  "dns": {
    "servers": [
      {
        "address": "https://1.1.1.1/dns-query",
        "skipFallback": false
      },
      {
        "address": "https://8.8.8.8/dns-query",
        "skipFallback": false
      }
    ]
  },
  "inbounds": [
    {
      "port": 12345,
      "protocol": "dokodemo-door",
      "settings": {
        "network": "tcp,udp",
        "followRedirect": true
      },
      "streamSettings": {
        "sockopt": {
          "tproxy": "tproxy"
        }
      },
      "sniffing": {
        "enabled": true,
        "destOverride": [
          "http",
          "tls",
          "quic"
        ]
      }
    },
    {
      "port": 1080,
      "listen": "127.0.0.1",
      "protocol": "socks",
      "settings": {
        "auth": "noauth",
        "udp": true
      }
    }
  ],
  "outbounds": [
    {
      "protocol": "vless",
      "settings": {
        "vnext": [
          {
            "address": "{{ domain }}",
            "port": 443,
            "users": [
              {
                "id": "{{ uuid }}",
                "encryption": "none"
              }
            ]
          }
        ]
      },
      "streamSettings": {
        "network": "xhttp",
        "xhttpSettings": {
          "path": "{{ secret_path }}",
          "mode": "packet-up"
        },
        "security": "tls",
        "tlsSettings": {
          "alpn": [
            "h3"
          ]
        }
      },
      "tag": "proxy"
    },
    {
      "protocol": "freedom",
      "tag": "direct"
    },
    {
      "protocol": "dns",
      "tag": "dns-out"
    },
    {
      "protocol": "freedom",
      "tag": "direct"
    }
  ],
  "routing": {
    "domainStrategy": "AsIs",
    "rules": [
      {
        "type": "field",
        "ip": "1.1.1.1",
        "outboundTag": "direct"
      },
      {
        "type": "field",
        "ip": "8.8.8.8",
        "outboundTag": "direct"
      },
      {
        "type": "field",
        "port": 53,
        "outboundTag": "dns-out"
      },
      {
        "type": "field",
        "domain": [
          "domain:ru"
        ],
        "outboundTag": "direct"
      }
    ]
  }
}
