{
  "log": {
    "loglevel": "debug"
  },
  "reverse": {
    "portals": [
      {
        "tag": "portal",
        "domain": "reverse-proxy.xray.internal"
      }
    ]
  },
  "routing": {
    "rules": [
      {
        "type": "field",
        "inboundTag": [
          "incoming"
        ],
        "outboundTag": "portal"
      }
    ]
  },
  "inbounds": [
    {
      "port": {{ xray_xhttp_port_internal }},
      "listen": "127.0.0.1",
      "protocol": "vless",
      "settings": {
        "clients": [
          {
            "id": "{{ uuid }}"
          }
        ],
        "decryption": "none"
      },
      "streamSettings": {
        "network": "xhttp",
        "security": "none",
        "xhttpSettings": {
          "mode": "auto",
          "path": "{{ secret_path }}"
        }
      },
      "tag": "incoming"
    }
  ],
  "outbounds": [
    {
      "protocol": "freedom",
      "tag": "direct"
    },
    {
      "protocol": "blackhole",
      "tag": "block"
    }
  ]
}
