{
  "dormancy_days_default": {{ ssh_alert_dormancy_days_default }},
  "dormancy_overrides": {{ ssh_alert_dormancy_overrides | to_json }},
  "suppressed_fingerprints": {{ ssh_alert_suppressed_fingerprints | to_json }},
  "rate_limit_per_minute": {{ ssh_alert_rate_limit_per_minute }}
}
