name: morjoff-com-web-site
on:
  push:
    paths:
      - morjoff-com-web-site
jobs:
  build-and-push-morjoff-com-website-image:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      # setup Docker buld action
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Github Packages
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build image and push to GitHub Container Registry
        uses: docker/build-push-action@v6
        with:
          # relative path to the place where source code with Dockerfile is located
          context: ./morjoff-com-web-site/
          tags: |
            ghcr.io/akurin/morjoff-com-web-site:latest
          # build on feature branches, push only on master branch
          push: ${{github.ref == 'refs/heads/master'}}
